# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# pipenv
.Pipfile.lock

# Virtual environment
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Environment variables
.env

# Visual Studio Code settings
.vscode/

# Sublime Text settings
.sublime-project
.sublime-workspace

# Emacs settings
*~
\#*\#

# PyCharm settings
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
